.btn {
  position: relative;
  padding: 8px 24px;
  color: #fff;
  border-radius: 8px;
  transition: var(--default-transition);
  box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

.primary {
  background-color: var(--primary);
}

.primary:hover {
  background-color: var(--primary-hover);
}
