.header {
  width: 100%;
}

.headerContent {
  max-width: 1280px;
  height: 64px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--space-8x);
}

.headerLogo {
  color: var(--text-primary);
  font-size: 32px;
  padding: 0 var(--space-8x) 0 0;
}
.search {
  margin-left: auto;
}
