.sidebarTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
  margin-bottom: var(--space-2x);
}

.sidebarItem {
  padding: var(--space-6x) 0;
}

.sidebarTagListItem {
  font-size: 16px;
  border-bottom: 1px solid #ededed;
}

.sidebarTagListItemLink:hover {
  background-color: var(--bg-gray-1);
}

.sidebarTagListItemLink {
  width: 100%;
  height: 100%;
  display: block;
  padding: var(--space-4x) var(--space-2x);
  transition: var(--default-transition);
}

.seriesBtn {
  margin-top: var(--space-6x);
}
