.sidebarTitle {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-primary);
}

.sidebarItem {
  padding: var(--space-6x) 0;
}

.sidebarTagListItem {
  font-size: 16px;
  padding: var(--space-4x) 0;
  border-bottom: 1px solid #ededed;
}
