.wrapper {
  /* background-color: var(--bg-gray); */
  width: 100%;
}
.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 32px 32px 64px;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  column-gap: var(--space-6x);
  row-gap: 48px;
}
@media (min-width: 992px) {
  .list {
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  }
}

.seriesCard {
}
.seriesCard:hover .seriesTitle {
  color: var(--primary);
}

.seriesImg {
  width: 100%;
  height: 240px;
  margin: auto;
}

.seriesContnt {
  height: 100%;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: var(--default-box-shadow);
}

.seriesInfo {
  padding: var(--space-8x);
}

.seriesTitle {
  font-size: 24px;
  line-height: 30px;
  padding: 0 0 var(--space-4x);
  /* font-weight: 600; */
  /* text-align: center; */
  /* margin-bottom: var(--space-2x); */
}
.seriesSpoiler {
  font-size: 16px;
  line-height: 24px;
  color: #697b8c;
}
