{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "react-hooks"],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/jsx-uses-react": 0,
    "react/prop-types": 0,
    "@typescript-eslint/no-var-requires": 1
  },
  "env": {
    "browser": true,
    "commonjs": true
  }
}
