.headerNav {
  padding: 0 var(--space-8x);
  margin-left: auto;
}
@media (min-width: 576px) {
  .headerNav {
    margin-left: 0;
  }
}

.headerNavList {
  display: flex;
}
.headerNavItem {
  font-size: 18px;
  color: var(--text-primary);
  padding: 0 var(--space-4x);
  transition: 0.3s ease;
}
.headerNavItem > a:hover {
  color: var(--primary);
}

.nav {
  display: none;
}
@media (min-width: 576px) {
  .nav {
    display: block;
  }
}

.mobileNav {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  min-height: 100vh;
  height: 100%;
  width: 210px;
  background-color: #fff;
  z-index: 100;
  box-shadow: var(--default-box-shadow);
}
@media (min-width: 576px) {
  .mobileNav {
    display: none;
  }
}

.menuIcon {
  cursor: pointer;
  height: 36px;
  width: 36px;
}

.menuIconClose {
  display: none;
}
