:root {
  /* --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px; */

  --primary: #0091ea;
  --primary-hover: #0278c1;
  --dark: #2d2e3b;
  --dark-purple: #503f5e;
  --purple: #7943cc;
  --red: #e05d6f;

  --text-primary: #222326;
  --text-secondary: #424242;

  --bg-gray-1: rgba(9, 30, 66, 0.08);
  --bg-gray: #f9fafb;

  --space: 4px;
  --space-2x: 8px;
  --space-3x: 12px;
  --space-4x: 16px;
  --space-5x: 20px;
  --space-6x: 24px;
  --space-7x: 28px;
  --space-8x: 32px;
  --space-9x: 36px;
  --space-10x: 40px;

  --default-transition: 0.3s ease-in-out;
  --default-box-shadow: 0 4px 6px rgb(50 50 93 / 11%), 0 1px 3px rgb(0 0 0 / 8%);
}

body {
  --bg: white;
  --tagBg: rgba(0, 0, 0, 0.05);
  --textNormal: #5f6368;
  --textTitle: #202124;
  --textLink: rgba(0, 0, 0, 0.84);
  --hr: rgba(0, 0, 0, 0.2);
  background-color: var(--bg);
  font-size: 16px;

  --duration: 0.5s;
  --timing: ease;
  /* transition: color var(--duration) var(--timing),
    background-color var(--duration) var(--timing); */
}

.hits-wrapper {
  max-height: 80vh;
  overflow: scroll;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  right: 0;
  top: calc(100% + 0.5em);
  width: 80vw;
  max-width: 30em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0.7em 1em 0.4em;
  background: white;
  border-radius: 3px;
}
.hits-wrapper > * + * {
  padding-top: 1em !important;
  border-top: 2px solid #ccc;
}
.hits-wrapper li + li {
  margin-top: 0.7em;
  padding-top: 0.7em;
  border-top: 1px solid #efefef;
}
.hits-wrapper * {
  margin-top: 0;
  padding: 0;
}
.hits-wrapper ul {
  list-style: none;
}
.hits-wrapper header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3em;
}
.hits-wrapper header h3 {
  color: #0091ea;
  padding: 0.1em 0.4em;
  border-radius: 3px;
}
.hits-wrapper h3 {
  margin: 0 0 0.5em;
}
.hits-wrapper h4 {
  margin-bottom: 0.3em;
}
